*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

:root {
  --primary-font: 'Roboto', sans-serif;
  --secondary-font: "Merriweather", serif;

  --color-primary: rgba(0, 0, 0, 1);

  --color-white: #ffffff;
  --color-grey-0: #8d8d8d;
  --color-grey-1: #424242;
  --color-grey-2: #303030;
  --color-grey-3: #1f1f1f;
  --color-grey-4: #141414;
  --color-grey-5: #0c0c0c;
  --color-black: #000000;

  --default-box-shadow: 0 0.4rem 0.6rem rgba(50, 50, 50, 0.3);
  --bookmark-tab-box-shadow: 0 0.2rem 0.8rem rgb(50, 50, 50, 0.2);

  --dt-default-box-shadow: 0 0.4rem 3rem rgba(10, 10, 10, 1);

  /* --gradient-box-shadow: 0 2.8px 2.2px rgba(0, 0, 5, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(3, 3, 3, 0.086),
    0 60px 80px rgba(0, 0, 0, 0.12); */
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: var(--primary-font);
  font-weight: 300;
  overflow-x: hidden;
}

.dt-bars {
  background-color: var(--color-white) !important;
}

.dt-container {
  background-color: var(--color-grey-4) !important;
  transition: all 0.5s cubic-bezier(1, 0, 0, 1);
}
.dt-card {
  background-color: var(--color-grey-4) !important;
  color: var(--color-grey-1) !important;
  transition: all 0.5s cubic-bezier(1, 0, 0, 1);
}

.dt-primary-heading {
  color: var(--color-white) !important;
}

.dt-name {
  color: var(--color-white) !important;
}

.dt-link {
  color: var(--color-white);
}

.dt-tab-cards {
  background-color: var(--color-grey-4) !important;
}

.dt-tab {
  background-color: var(--color-grey-3) !important;
}

.dt-tab-name {
  color: var(--color-white) !important;
}

.active {
  opacity: 1;
}

.inactive {
  opacity: 0;
}

ion-icon:hover {
  cursor: pointer;
}

ion-icon[name="copy-outline"] {
  font-size: 2rem;
  color: var(--color-black);
  transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

ion-icon[name="copy-outline"]:hover {
  transform: scale(1.2);
}

ion-icon[name="copy-outline"]:active {
  transform: scale(1);
}

ion-icon[name="moon-outline"] {
  font-size: 2.4rem;
  color: var(--color-grey-1);
  transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

ion-icon[name="moon-outline"]:hover {
  transform: scale(1.2);
}

ion-icon[name="moon-outline"]:active {
  transform: scale(1);
}

ion-icon[name = "bag-add-outline"] {
  font-size: 2.4rem;
  color: var(--color-grey-1);
  transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

ion-icon[name="logo-github"] {
  font-size: 2.4rem;
  margin: 1rem 1rem 0.6rem 1rem;
  color: var(--color-grey-1);
  transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

ion-icon[name="logo-github"]:hover {
  transform: scale(1.1);
}

ion-icon[name="logo-github"]:active {
  transform: scale(1);
}

ion-icon[name = "bag-add-outline"]:hover {
  transform: scale(1.2);
}

ion-icon[name = "bag-add-outline"]:active {
  transform: scale(1);
}

ion-icon[name="add-outline"] {
  font-size: 3rem;
  color: var(--color-grey-0);
  transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
ion-icon[name="add-outline"]:hover {
  transform: scale(1.2);
}
ion-icon[name="add-outline"]:active {
  transform: scale(1);
}

ion-icon[name="bookmark-outline"] {
  font-size: 2rem;
  color: var(--color-black);
  transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

ion-icon[name="bookmark-outline"]:hover {
  transform: scale(1.2);
}

ion-icon[name="bookmark-outline"]:active {
  transform: scale(1);
}

ion-icon[name="bookmarks-outline"] {
  font-size: 2rem;
  margin: 0rem 0rem 0rem 9.2rem;
  color: var(--color-grey-0);
  transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

ion-icon[name="bookmarks-outline"]:hover {
  transform: scale(1.2);
}

ion-icon[name="bookmarks-outline"]:active {
  transform: scale(1);
}

ion-icon[name="close-outline"] {
  font-size: 2rem;
  color: var(--color-black);
  transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  margin: 1rem 1rem 1rem -3rem;
}

ion-icon[name="close-outline"]:hover {
  transform: scale(1.2);
}

ion-icon[name="close-outline"]:active {
  transform: scale(1);
}

ion-icon[name="checkmark-outline"] {
  font-size: 3.2rem;
  color: var(--color-grey-0);
  transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

ion-icon[name="checkmark-outline"]:hover {
  transform: scale(1.2);
}

ion-icon[name="checkmark-outline"]:active {
  transform: scale(1);
}

.comp {
  width: 20rem;
  height: 3.6rem;
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: 1.2rem;
  background: linear-gradient(to right, rgb(79, 172, 254), rgb(0, 242, 254));
  color: var(--color-black);
  position: absolute;
  top: 9rem;
  left: 26rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-gradient {
  margin: -3.6rem -16rem;
}

.add-gradient-form {
  width: 36rem;
  height: 32rem;
  background-color: var(--color-white);
  box-shadow: var(--bookmark-tab-box-shadow);
  position: absolute;
  top: 8rem;
  right: 24rem;
  border-radius: 1rem;
  padding: 1rem 3rem 0rem 2rem;
}

.dt-add-gradient-form {
  background-color: var(--color-grey-4) !important;
  box-shadow :var(--bookmark-tab-box-shadow) !important;
}

.fields {
  height: 5.6rem;
  background-color: var(--color-white);
  box-shadow: var(--bookmark-tab-box-shadow);
  margin: 0.8rem 0rem 0rem 1rem;
  border-radius: 1rem;
}

.dt-fields {
  background-color: var(--color-grey-3) !important;
  box-shadow: var(--bookmark-tab-box-shadow) !important;
}

.gradient-name {
  margin: 4.4rem 1rem -1rem 1rem;
}

input[type="text"] {
  width: 16rem;
  border: 0px solid red;
  padding: 1rem 1rem;
  border-radius: 4px;
}

.colors-input {
  margin: 1rem 0rem;
  display: grid;
  grid-template-columns: 16rem 16rem;
  grid-template-rows: repeat(2, 1fr);
}

.color {
  width: 14rem;
  height: 5.6rem;
  background-color: var(--color-white);
  box-shadow: var(--bookmark-tab-box-shadow);
  margin: 0.8rem 0rem 0rem 1rem;
  border-radius: 1rem;
}

.dt-color {
  color: var(--color-white) !important;
}

.dt-color-input {
  background-color: var(--color-grey-4) !important;
  box-shadow: var(--default-box-shadow) !important;
}

.color-1-inp {
  margin: 0rem 1rem;
  grid-column: 1/2;
  grid-row: 2/2;
}
.color-2-inp {
  margin: 0rem 1rem;
  grid-column: 2/2;
  margin: 1rem ​1rem 0rem 1rem;
}

.title {
  font-size: 1.2rem;
  font-family: var(--primary-font);
  font-weight: 400;
  color: var(--color-black);
  margin: 1rem 1rem;
}

.dt-gname {
  color: var(--color-white) !important;
}

.gname {
  position: absolute;
  top: 1.2rem;
  left: 2rem;
}

#g-name {
  width: 28rem;
  margin: 1rem 1rem;
}

.color1 {
  margin: 3rem 0rem 0rem 1.6rem;
  grid-column: 2/1;
}

.color2 {
  margin: 3rem 0rem 0rem 1rem;
  grid-column: 2/2;
}

input[type="color"] {
  -webkit-appearance: none;
  border: none;
  width: 14rem;
  height: 5.6rem;
  margin: 0rem 0rem;
  border-radius: 1rem;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
  border-radius: 1rem;
}
input[type="color"]::-webkit-color-swatch {
  border: none;
  border-radius: 1rem;
}

.submit {
  margin: 4rem 0rem 0rem 14.2rem;
}

.bookmark-tab {
  width: 32rem;
  /* height: 40rem; */
  background-color: var(--color-white);
  box-shadow: var(--bookmark-tab-box-shadow);
  margin: 2rem 0rem 0rem -34rem;
  border-radius: 1rem;
  /* overflow: auto; */
}

.bookmark-tab-card {
  width: 30rem;
  height: 4.8rem;
  background-color: var(--color-white);
  box-shadow: var(--bookmark-tab-box-shadow);
  margin: 1.6rem 0rem 0rem 1rem;
  border-radius: 1rem;
  display: grid;
  grid-template-columns: 8rem 18rem 4rem;
}

.bookmark-tab-gradient {
  width: 8rem;
  height: 4.8rem;
  border-radius: 0.2rem;
  grid-column: 1/2;
  display: grid;
  overflow: auto;
}

.bookmark-tab-name {
  margin: 1.6rem 0rem 0rem 3.2rem;
  font-size: 1.6rem;
  font-weight: 600;
  color: black;
  grid-column: 2/4;
}

.bookmark-tab-delete {
  grid-column: 4/4;
}

.utilities {
  grid-column: 7/8;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 1rem 1rem -2rem 8rem;
}

.navigation {
  margin: 4rem 0rem 0rem 4rem;
  cursor: pointer;
}

.bookmark {
  margin: 0rem 0rem 0rem 3.6rem;
}

.show {
  opacity: 1;
  transition: all 2s cubic-bezier(0.23, 1, 0.32, 1);
}

.show-tab {
  opacity: 1;
  transition: all 0.2s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

.hide {
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.hide-tab {
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

/* .nav-container {
  grid-row: 2/3;
  height: 32rem;
  width: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  justify-items: center;
} */

.nav-container {
  grid-column: 2/5;
  height: 7rem;
  width: 33rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  justify-items: center;
  transform: translate(0rem, 2rem);
}

a {
  text-decoration: none;
  color: var(--color-black);
  font-weight: 400;
  font-size: 2rem;
  transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}

a:hover {
  cursor: pointer;
  transform: scale(1.2);
}

a:active {
  transform: scale(1);
}

.copied {
  width: 9.6rem;
  height: 2.8rem;
  font-size: 1.2rem;
  font-weight: 600;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 1.2rem;
  color: var(--color-grey-3);
  position: relative;
  top: -2.8rem;
  left: 3.2rem;
}

.copied-text {
  position: relative;
  left: 1.6rem;
  top: .8rem;
}

.bar1,
.bar2 {
  width: 3.2rem;
  height: 0.25rem;
  border-radius: 2rem;
  background-color: var(--color-grey-0);
  margin: 0.8rem 0rem;
  transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-0.6rem, 0.2rem);
  transform: rotate(-45deg) translate(-0.6rem, 0.2rem);
}

.change .bar2 {
  transform: rotate(45deg) translate(-0.5rem, -0.2rem);
  -webkit-transform: rotate(45deg) translate(-0.5rem, -0.2rem);
}

.vis {
  opacity: 0;
}

.icons {
  width: 28rem;
  display: grid;
  margin: -20rem 0rem 0rem 0rem;
  font-size: 2rem;
  grid-template-columns: repeat(2, 1fr);
}

.copy {
  height: 2rem;
  width: 2rem;
}

#inpbtn {
  border: none;
  text-decoration: none;
  margin: -45rem 10rem 1rem -0.5rem;
  background-color: rgba(0, 0, 0, 0);
  opacity: 1;
  font-weight: 700;
  font-size: 2rem;
  color: rgba(0, 0, 0, 1);
}

#myInput {
  opacity: 1;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.container {
  display: grid;
  grid-template-columns: 10rem repeat(6, 1fr) 10rem;
  background-color: var(--color-white);
  width: 100vw;
  position: relative;
}

.main {
  grid-column: 3 / 7;
  margin: 8rem 0rem 8rem 0rem;
}

.primary-heading {
  font-size: 3.6rem;
  font-family: var(--secondary-font);
  font-weight: 700;
  line-height: 5.2rem;
  color: var(--color-black);
}

.card-container {
  grid-column: 2 / 8;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 10rem 0rem 10rem 6rem;
  grid-gap: 8rem;
}

.gradient {
  width: 32rem;
  margin: -2rem;
  border-radius: 1rem;
  grid-column: 1 / -1;
  display: grid;
}

.coming-soon-text {
  color: var(--color-black);
  font-weight: 600;
  font-size: 1.2rem;
  margin: 1.4rem 1rem 1rem 4.4rem;
}

.coming-soon-tab {
  height: 4rem;
  width: 16rem;
  border-radius: 1.6rem;
  background: linear-gradient(to right, rgb(79, 172, 254), rgb(0, 242, 254));
  position: absolute;
  top: 8rem;
  right: 12rem;
}

#gradient-1 {
  background: linear-gradient(to right, #4facfe, #00f2fe);
}

#gradient-2 {
  background: linear-gradient(to right, #0996ce, #38f9d7);
}

#gradient-3 {
  background: linear-gradient(to top, #37ecba, #72afd3);
}

#gradient-4 {
  background: linear-gradient(to right, #2af598, #0dad65);
}

#gradient-5 {
  background: linear-gradient(to right, #0ba360, #3cba92);
}

#gradient-6 {
  background: linear-gradient(to right, #9be15d, #00e3ae);
}

#gradient-7 {
  background: linear-gradient(to right, #0fd850, #f9f047);
  /* background: linear-gradient(to right, #f9d423, #e14fad); */
}
#gradient-8 {
  background: linear-gradient(to right, #f6d365, #fda085);
}
#gradient-9 {
  background: linear-gradient(to right, #ff9a44, #fc6076);
  /* background: linear-gradient(to right, #ff0000, #ffd000); */
}
#gradient-10 {
  background: linear-gradient(to right, #f9d423, #ff4e50);
}
#gradient-11 {
  /* background: linear-gradient(to right, #ff0000, #ffd000); */
  background: linear-gradient(to right, #d6ba31, #fced7e);
}
#gradient-12 {
  background: linear-gradient(to right, #cec32d, #e4ff6c);
}
#gradient-13 {
  background: linear-gradient(to right, #e2be03, #fde474);
}
#gradient-14 {
  background: linear-gradient(to right, #e28d5f, #f99396);
}
#gradient-15 {
  background: linear-gradient(to right, #fc4e41, #e57785);
}
#gradient-16 {
  background: linear-gradient(to right, #ff0844, #ffb199);
}
#gradient-17 {
  background: linear-gradient(to right, #ea1737, #ef6e62);
}
#gradient-18 {
  background: linear-gradient(to right, #ff6eb8, #f386f4);
}
#gradient-19 {
  background: linear-gradient(to right, #ef2d82, #ffb2de);
}
#gradient-20 {
  background: linear-gradient(to right, #d63772, #e079ac);
}
#gradient-21 {
  background: linear-gradient(to right, #bda0e5, #eeccff);
}
#gradient-22 {
  background: linear-gradient(to right, #a15ac7, #7c55ce);
}
#gradient-23 {
  background: linear-gradient(to right, #8404ce, #d3baf4);
}
#gradient-24 {
  background: linear-gradient(to right, #a616d6, #d95aff);
}
#gradient-25 {
  background: linear-gradient(to right, #cc208e, #6713d2);
}
#gradient-26 {
  background: linear-gradient(to right, #6923ee, #8153df);
}

#gradient-27 {
  background: linear-gradient(to right, #5207df, #622bd0);
}

#gradient-28 {
  background: linear-gradient(to right, #fdfbfb, #ebedee);
}
#gradient-29 {
  background: linear-gradient(to right, #616161, #9bc5c3);
}
#gradient-30 {
  background: linear-gradient(to right, #d7d2cc, #304352);
}
#gradient-31 {
  background: linear-gradient(to right, #868686, #000000);
}
#gradient-32 {
  background: linear-gradient(to right, #1a1a1a, #000000);
}

.card {
  height: 24rem;
  width: 24rem;
  border-radius: 1rem;
  background-color: var(--color-white);
  box-shadow: var(--default-box-shadow);
  padding: 2rem;
  display: grid;
  grid-template-columns: 10rem 10rem;
  grid-template-rows: 10rem 10rem;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}

/* .card:hover {
  box-shadow:  0 2.8px 2.2px rgba(0, 0, 5, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(3, 3, 3, 0.086),
  0 60px 80px rgba(0, 0, 0, 0.12);
} */

.name {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--color-black);
  font-family: var(--primary-font);
  line-height: 1.5rem;
  grid-column: 2/2;
  grid-row: 2/2;
  margin: 7.2rem 0rem 0rem 0rem;
}

.circle-container {
  grid-row: 2/2;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 1rem -8rem -5rem 0rem;
}

.c {
  width: 1.6rem;
  height: 1.6rem;
  background-color: black;
  border-radius: 10rem;
  margin: 1rem 0rem 1rem 1rem;
}

.c:hover {
  cursor: pointer;
}

.box {
  height: 10rem;
  width: 10rem;
  color: var(--color-black);
  background-color: var(--color-white);
  margin: 8rem 1rem 1rem 5rem;
}

/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop
$breakpoint arguement choices:

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px

*/

/* 1150px */
@media screen and (max-width: 83.125em) {
  html {
    font-size: 50%;
  }

  .card-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .card {
    height: 32rem;
    width: 32rem;
  }

  .gradient1 {
    height: 20rem;
    width: 32rem;
  }

  .circle-container {
    margin: 13rem -8rem -5rem 0rem;
  }
}

/* 1330 px */
@media screen and (max-width: 72em) {
  html {
    font-size: 50%; /* 1rem = 8px */
  }

  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .card {
    height: 32rem;
    width: 32rem;
  }

  .gradient1 {
    height: 20rem;
    width: 32rem;
  }

  .circle-container {
    grid-row: 2/2;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 13.6rem -8rem -5rem 0rem;
  }
}

/* 968 px */
@media screen and (max-width: 60.5em) {
  html {
    font-size: 50%; /* 1rem = 8px */
  }

  .container {
    grid-template-columns: 8rem repeat(6, 1fr) 8rem;
  }

  .card-container {
    margin: 9rem ​10rem 0rem 8rem;
  }

  .primary-heading {
    font-size: 2.8rem;
    line-height: 4rem;
  }
}

/* 818px */

@media screen and (max-width: 51.25em) {
  .card-container {
    grid-gap: 6rem 0rem;
  }
}

/* 718 */

@media screen and (max-width: 44.875em) {
  .card {
    height: 28rem;
    width: 28rem;
  }
  .circle-container {
    margin: 10rem -8rem -5rem 0rem;
  }
}

/* 670 */

@media screen and (max-width: 41.875em) {
  .main {
    grid-column: 2/8;
  }
  .card {
    height: 24rem;
    width: 40rem;
  }
  .gradient1 {
    width: 40rem;
    height: 16rem;
  }
  .card-container {
    grid-column: 1/-1;
    grid-template-columns: repeat(1, 1fr);
    margin: 1rem 1rem 1rem 5rem;
  }
  .circle-container {
    margin: 1rem -8rem -5rem 0rem;
  }
}

/* 560 */

@media screen and (max-width: 35em) {
  .card-container {
    margin: 1rem 1rem 1rem 0rem;
  }
  .primary-heading {
    font-size: 2.4rem;
    line-height: 3.6rem;
  }
}

/* 400 */

@media screen and (max-width: 25em) {
  html {
    font-size: 35%;
  }
  .card {
    height: 36rem;
    width: 75vw;
  }
  .gradient1 {
    height: 24rem;
    width: 75vw;
  }
  .circle-container {
    margin: 18rem -8rem -5rem 0rem;
  }
  .primary-heading {
    font-size: 2.8rem;
    line-height: 4rem;
  }
}
